<div class="container text-wrap">
  <h5 class="mb-3"> Introduction to Time Sheet Application</h5>
  <div class="">
    <p>This is an application for entering the following data:<br>
    <div class="ps-3" style="font-size: 0.9rem;">
      - Worker's details e.x. Name, Surname, Address etc <br>     
      - Client's details e.x. Name, Surname, Address  etc<br>
      - Type of work e.x. Cleaning service, Constructions, Management  etc<br>
      - Details of work per Worker e.x. Date, Hour from, Hour to, Client, Type of work etc<br> 
    </div>
  </div>
</div>
