<div class="container text-wrap">
  <!-- <h5 class="mb-3"> Introduction to Time Sheet Application</h5> -->
  <div class="" style="font-size: 0.9rem;">  
    <div class="ps-3" >
      <h2>This is an application for entering the following data:</h2>
      - Worker's details e.x. Name, Surname, Address etc <br>     
      - Client's details e.x. Name, Surname, Address  etc<br>
      - Type of work e.x. Cleaning service, Constructions, Management  etc
    </div>
    <div class="ps-3 mt-3" >
      The aim is to make a time sheet that contains information about <br> the worker, the client, the type of work done, the date, the hours worked, etc.
    </div>
  </div>
</div>
