
<div class="container">      
  <div class="d-flex flex-column overflow-hidden col-9">
    <h3 class="text-dark"><strong>Add a Timesheet</strong></h3>
    <div>
      @if (registrationStatus.message === "Not attempted yet") {
        <form [formGroup]="form" class="d-flex flex-column col-12">
          <!-- <div class="form-group"> -->
            <mat-form-field appearance="fill" class="col-3">
              <mat-label>Date of Work</mat-label>
              <input matInput [matDatepicker]="picker" 
              formControlName="dateOfWork"
              [value]='date_Today'
              />            
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              @if (form.get("dateOfWork").invalid && form.get("dateOfWork").touched) {
                <mat-error>Date of Work is required</mat-error>
              }
            </mat-form-field> <!-- Date of Work end -->            
            <mat-form-field appearance="outline">
              <mat-label>Select a Worker</mat-label>
              <mat-select 
                [(value)]="selectedWorker"
                (selectionChange)="onSelectionWorkerChange($event)"
                required="True"
                name="selectWorker"
              >
                <mat-option *ngFor="let worker of workers" [value]="worker">
                  {{ worker.surName }} {{ worker.givenName }} (AFM: {{ worker.afm }})                  
                </mat-option>
              </mat-select> 
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Select a Client</mat-label>
              <mat-select 
                [(value)]="selectedClient"
                (selectionChange)="onSelectionClientChange($event)"
                required="True"
                name="selectClient"
              >
                <mat-option *ngFor="let client of clients" [value]="client">
                  {{ client.brandName }} (AFM: {{ client.afm }})                  
                </mat-option>
              </mat-select> 
            </mat-form-field>

<!--           
            <mat-label class="col-1"><strong>Worker:</strong></mat-label>        
            <div class="d-flex flex-row gap-1">  
              <mat-form-field appearance="outline" class="col-4">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="workerSurName" 
              />
                @if (form.get("workerSurName").invalid && form.get("workerSurName").touched) {
                  <mat-error>Last Name is required</mat-error>
                }
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-2">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="workerGivenName"/>                
                @if (form.get("workerGivenName").invalid && form.get("workerGivenName").touched) {
                  <mat-error>First Name is required</mat-error>
                }
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-2" >
                <mat-label>AFM</mat-label>
                <input matInput type="text" formControlName="workerAfm" />            
              </mat-form-field>
            </div> -->
            <!-- <mat-label class="col-1"><strong>Client:</strong></mat-label>
            <div class="d-flex flex-row gap-1">            
              <mat-form-field appearance="outline" class="col-6">
                <mat-label>Brand Name</mat-label>
                <input matInput type="text" formControlName="clientBrandName"/>
                @if (form.get("clientBrandName").invalid && form.get("clientBrandName").touched) {
                  <mat-error>Brand Name is required</mat-error>
                }
              </mat-form-field>   
              <mat-form-field appearance="outline" class="col-2">
                <mat-label>AFM</mat-label>
                <input matInput type="text" formControlName="clientAfm" />             
              </mat-form-field>
            </div> -->
            <div class="d-flex flex-row gap-1">
              <mat-form-field appearance="outline">
                <mat-label>Type of Work</mat-label>
                <mat-select formControlName="typeOfWork">
                  <mat-option *ngFor="let workType of workTypes" [value]="workType.value">
                    {{ workType.viewValue }}
                  </mat-option>
                </mat-select>
                <!-- <mat-select formControlName="typeOfWork">
                  <mat-option value="Cleaning">Cleaning Services</mat-option>
                  <mat-option value="Security">Security Services</mat-option>
                  <mat-option value="Sales">Sales employee</mat-option>
                  <mat-option value="Accounting">Αccountant</mat-option>
                  <mat-option value="Restaurant">Restaurant employee</mat-option>
                </mat-select> -->
                @if (form.get("typeOfWork").invalid && form.get("typeOfWork").touched) {
                  <mat-error class="text-wrap">
                    Please select a Type of Work
                  </mat-error>
                }
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 150px;">
                <mat-label>Hour From</mat-label>
                <input matInput type="time" formControlName="hourFrom" class="mat-mdc-input-element"/>
                <!-- <input matInput [ngxTimepicker]="picker" readonly>
                <ngx-material-timepicker #picker></ngx-material-timepicker> ΔΕΝ ΔΟΥΛΕΥΕΙ -> version incompatibility-->
                @if (form.get("hourFrom").invalid && form.get("hourFrom").touched) {
                  <mat-error>Hour From is required</mat-error>
                }
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 150px;">
                <mat-label>Hour To</mat-label>
                <input matInput type="time" formControlName="hourTo" class="mat-mdc-input-element"/>
                <!-- <input matInput [ngxTimepicker]="picker" readonly>
                <ngx-material-timepicker #picker></ngx-material-timepicker> ΔΕΝ ΔΟΥΛΕΥΕΙ -> version incompatibility -->
                @if (form.get("hourTo").invalid && form.get("hourTo").touched) {
                  <mat-error>Hour To is required</mat-error>
                }
              </mat-form-field>
            </div>

            <div class="d-flex gap-2">
              <button                   
                (click)="submit(form.value)"
                [disabled]="form.invalid"
              >
                Submit
              </button>
              <button mat-button style ="color: gray; font-style: italic;" (click)="resetForm()">
                Reset
              </button>
            </div>
          <!-- </div> -->
        </form>
      } @else {
        @if (registrationStatus.success) {
          <div class="alert alert-success mt-2 w-50">
            <strong>Success:</strong>
            {{ registrationStatus.message }}
          </div>
          <button   
            mat-button
            (click)="addAnotherTimesheet()">
            Add Another Client
          </button>
        } @else {
          <div class="alert alert-danger mt-2 w-50">
            <strong>Error:</strong>
            {{ registrationStatus.message }}
          </div>
          <button   
            mat-button
            (click)="addAgainTimesheet()">
            Try Adding Again
          </button>
        }
      }
    </div>
  </div>  
</div>


