
<div class="container">      
  <div class="d-flex flex-column overflow-hidden col-9">
    <h3 class="text-dark"><strong>Add a Timesheet</strong></h3>
    <div>
      @if (registrationStatus.message === "Not attempted yet") {
        <form [formGroup]="form" class="d-flex flex-column col-12">
          <!-- <div class="form-group"> -->
            <mat-form-field appearance="fill" class="col-3">
              <mat-label>Date of Work</mat-label>
              <input matInput [matDatepicker]="picker" 
              formControlName="dateOfWork"
              [value]='date_Today'
              />            
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <!-- Date of Work end -->
          
            <mat-label class="col-1"><strong>Worker:</strong></mat-label>        
            <div class="d-flex flex-row gap-1">  
              <mat-form-field appearance="outline" class="col-4">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="workerSurName" 
              />
                <!-- @if (form.get("workerSurName").invalid && form.get("workerSurName").touched) {
                  <mat-error>Last Name is required</mat-error>
                } -->
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-2">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="workerGivenName"/>                
                @if (form.get("workerGivenName").invalid && form.get("workerGivenName").touched) {
                  <mat-error>First Name is required</mat-error>
                }
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-2" >
                <mat-label>AFM</mat-label>
                <input matInput type="text" formControlName="workerAfm" />
                <!-- @if (form.get("workerAfm").hasError("duplicateAFM")) {
                  <mat-error>AFM is already registered</mat-error>
                } @else {
                  @if (form.get("workerAfm").invalid && form.get("afm").touched) {
                    <mat-error
                      >AFM must have exactly 9 digits</mat-error
                    >
                  }
                } -->
              </mat-form-field>
            </div>
            <mat-label class="col-1"><strong>Client:</strong></mat-label>
            <div class="d-flex flex-row gap-1">            
              <mat-form-field appearance="outline" class="col-6">
                <mat-label>Brand Name</mat-label>
                <input matInput type="text" formControlName="clientBrandName"/>
                <!-- @if (form.get("clientBrandName").invalid && form.get("clientBrandName").touched) {
                  <mat-error>Brand Name is required</mat-error>
                } -->
              </mat-form-field>   
              <mat-form-field appearance="outline" class="col-2">
                <mat-label>AFM</mat-label>
                <input matInput type="text" formControlName="clientAfm" />
                <!-- @if (form.get("clientAfm").hasError("duplicateAFM")) {
                  <mat-error>AFM is already registered</mat-error>
                } @else {
                  @if (form.get("clientAfm").invalid && form.get("clientAfm").touched) {
                    <mat-error
                      >AFM must have exactly 9 digits</mat-error
                    >
                  }
                } -->
              </mat-form-field>
            </div>
            <div class="d-flex flex-row gap-1">
              <mat-form-field appearance="outline">
                <mat-label>Type of Work</mat-label>
                <mat-select formControlName="typeOfWork">
                  <mat-option value="Cleaning">Cleaning Services</mat-option>
                  <mat-option value="Security">Security Services</mat-option>
                  <mat-option value="Sales">Sales employee</mat-option>
                  <mat-option value="Accounting">Αccountant</mat-option>
                  <mat-option value="Restaurant">Restaurant employee</mat-option>
                </mat-select>
                <!-- @if (phone.get("type").invalid && phone.get("type").touched) {
                  <mat-error class="text-wrap">
                    Please select a Phone Type
                  </mat-error>
                } -->
              </mat-form-field>

              <mat-form-field appearance="outline" style="width: 150px;">
                <mat-label>Hour From</mat-label>

                <input matInput type="time" formControlName="hourFrom" class="mat-mdc-input-element"/>

                <!-- <input matInput [ngxTimepicker]="picker" readonly>
                <ngx-material-timepicker #picker></ngx-material-timepicker> -->
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 150px;">
                <mat-label>Hour To</mat-label>

                <input matInput type="time" formControlName="hourTo" class="mat-mdc-input-element"/>

                <!-- <input matInput [ngxTimepicker]="picker" readonly>
                <ngx-material-timepicker #picker></ngx-material-timepicker> -->
              </mat-form-field>
            </div>

            <div class="d-flex gap-2">
              <button                   
                (click)="submit(form.value)"
                [disabled]="form.invalid"
              >
                Submit
              </button>
              <button mat-button style ="color: gray; font-style: italic;" (click)="form.reset()">
                Reset
              </button>
            </div>
          <!-- </div> -->
        </form>
      } @else {
        @if (registrationStatus.success) {
          <div class="alert alert-success mt-2 w-50">
            <strong>Success:</strong>
            {{ registrationStatus.message }}
          </div>
          <button   
            mat-button
            (click)="addAnotherClient()">
            Add Another Client
          </button>
        } @else {
          <div class="alert alert-danger mt-2 w-50">
            <strong>Error:</strong>
            {{ registrationStatus.message }}
          </div>
          <button   
            mat-button
            (click)="addAgainClient()">
            Try Adding Again
          </button>
        }
      }
    </div>
  </div>  
</div>


