
  <nav class="navbar icon-display d-flex flex-nowrap" >
    <!-- <button    
        matTooltip="Show All Workers"
        mat-icon-button 
        aria-label="Show" 
        routerLink="/workers-dashboard/show-all-workers"       
        class="icon-display"
      >
      <mat-icon matTooltip="Add a Worker">grid_on</mat-icon> 
    </button>   -->
    <button    
        matTooltip="Add a Worker"
        matTooltipPosition="right"
        mat-icon-button 
        aria-label="Create" 
        routerLink="/workers-dashboard/create"      
        >
       <mat-icon 
        matTooltip="Add a Worker" 
        matTooltipPosition="right"
        >
        add
      </mat-icon>
        <!-- Add a Worker -->
    </button>   
    <!-- <button mat-icon-button aria-label="Delete">
      <mat-icon>delete</mat-icon>
    </button> -->
    <!-- <button mat-icon-button aria-label="Search" >
      <mat-icon>search</mat-icon>
    </button>-->
</nav>
