
  <nav class="navbar icon-display d-flex flex-nowrap" >
    <!-- <button    
        matTooltip="Show All Workers"
        mat-icon-button 
        aria-label="Show" 
        routerLink="/workers-dashboard/show-all-workers"       
        class="icon-display"
      >
      <mat-icon matTooltip="Add a Worker">grid_on</mat-icon> 
    </button>   -->
    <button    
        matTooltip="Add a Worker"
        mat-icon-button 
        aria-label="Create" 
        routerLink="/workers-dashboard/create"
      
        >
       <mat-icon matTooltip="Add a Worker">add</mat-icon>
    </button>   
    <!-- <button mat-icon-button aria-label="Delete">
      <mat-icon>delete</mat-icon>
    </button> -->
    <!-- <button mat-icon-button aria-label="Search" >
      <mat-icon>search</mat-icon>
    </button>-->
</nav>

<!--  
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
  <a
      class="navbar-brand"
      routerLink="/workers-dashboard">
      Home
    </a>

    <div class="d-flex gap-2 navbar-nav navbar-row">
      <a
        class="nav-link"
        routerLink="/workers-dashboard/create"
        [routerLinkActive]="['active']">
        Create a Worker
      </a>

       <a
        class="nav-link"
        routerLink="/workers-dashboard/read"
        [routerLinkActive]="['active']">
        Read
      </a> 

       <a
        class="nav-link"
        routerLink="/workers-dashboard/update"
        [routerLinkActive]="['active']">
        Update
      </a> 

       <a
        class="nav-link"
        routerLink="/workers-dashboard/delete"
        [routerLinkActive]="['active']">
        Delete
      </a> 
    </div>
  </div>
</nav> -->

 