<nav class="navbar icon-display d-flex flex-nowrap" >
  <div class="container-fluid ">
    <button    
        matTooltip="Add a Client"
        matTooltipPosition="right"        
        mat-icon-button
        aria-label="Create" 
        routerLink="/clients-dashboard/create"   
        class="me-5"   
        >
        <!-- Add a Client -->
      <mat-icon 
        matTooltip="Add a Client" 
        matTooltipPosition="right"
        >
        add
      </mat-icon>
        <!-- Add a Client -->
    </button>      
 </div>
</nav>
