<nav class="navbar icon-display d-flex flex-nowrap" >
  <div class="container-fluid ">
    <button    
        matTooltip="Add a Timesheet"
        matTooltipPosition="right"        
        mat-icon-button
        aria-label="Create" 
        routerLink="/time-sheets-dashboard/create"   
        class="me-5"   
        >
        <!-- Add a Timesheet -->
      <mat-icon 
        matTooltip="Add a Timesheet" 
        matTooltipPosition="right"
        >
        add
      </mat-icon>
        <!-- Add a Timesheet -->
    </button>      
 </div>
</nav>

