<div class="container">
  <div class="fw-semibold bg-dark-subtle text-success text-center align-content-center  mt-2 mb-2" style="height: 30px;"  mat-dialog-title>Confirmation Dialog</div>
  <div mat-dialog-content>
    <p>{{ data.message }}</p>
  </div>
  <div mat-dialog-actions class="d-flex flex-row mb-2 justify-content-between">
    <button mat-button color="primary" (click)="onYesClick()" class= "btn btn-light btn-sm bg-dark-subtle">Yes</button>
    <button mat-button (click)="onNoClick()" class= "btn btn-light btn-sm bg-dark-subtle">No</button>
  </div>
</div>